*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 0 auto;    
}
.card-shop{
    border-radius:15px;
    padding: 40px;
    border: 1px solid black;
    gap: 20px;
}
.green{
    padding: 10px;
    background: green;
    color: white;
    border: none;
    border-radius: 8px;
}
.green:active{
    background: #0a5d0a;
}
.red{
    padding: 10px;
    background: red;
    color: white;
    border: none;
    border-radius: 8px;
    
}
.red:active{
    background: rgb(192, 11, 11);
}
.dsb{
    color: blueviolet;
    display: flex;
    justify-content: center;
}.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
    
}
